.footer {
    background-color: var(--raisin-black);
    padding-block: 76px;
  }
  
  .footer .container {
    display: grid;
    gap: 20px;
  }
  
  .social-list {
    display: flex;
    gap: 8px;
  }
  
  .social-link {
    width: 45px;
    height: 45px;
    display: grid;
    place-items: center;
    border: 2px solid var(--white_a10);
    border-radius: var(--radius-circle);
    color: var(--white);
    transition: var(--transition-1);
  }
  
  .social-link:is(:hover, :focus-visible) { border-color: var(--white); }


  /*-----------------------------------*\
  #MEDIA QUERIES
  \*-----------------------------------*/

  @media (min-width: 575px) {
    .footer-list-title { margin-block-end: 8px; }
  }

  @media (min-width: 768px) {
    .footer .container { grid-template-columns: repeat(3, 1fr); }
  }