.footer {
    background-color: var(--raisin-black);
    padding-block: 76px;
  }
  
  .footer .container {
    display: grid;
    gap: 20px;
  }
  
  .social-list {
    display: flex;
    gap: 8px;
  }

  .footer-list-subtitle {
    color: var(--roman-silver);
    font-size: var(--fs-7);
  }

  /*-----------------------------------*\
  #MEDIA QUERIES
  \*-----------------------------------*/

  @media (min-width: 575px) {
    .footer-list-title { margin-block-end: 8px; }
  }

  @media (min-width: 768px) {
    .container { 
      display: grid;
      grid-template-columns: repeat(2, 1fr); }
  }