.team1List {
    display: grid;
    gap: 60px;
    margin-top: 30px;
  }
  
  .team1Card {
    display: grid;
    gap: 40px;
  }
  
  .team1Card .cardContent {
    display: flex;
    gap: 16px;
    padding-inline: 16px;
  }
  
  .team1Card .time { font-size: var(--fs-7); }
  
  .team1Card .time .span {
    color: var(--white);
    font-weight: var(--fw-700);
    line-height: 0.9;
  }
  
  .team1Card .cardText { margin-block: 20px; }
  
  @media (min-width: 575px) {
    .team1Card .cardContent {
      padding-inline: 32px;
      gap: 32px;
    }
  }
  
  @media (min-width: 575px) {
    .team1Card .cardTitle { --fs-4: 2.7rem; }
  }
  
  @media (min-width: 992px) {
    .team1Card {
      grid-template-columns: 1fr 1fr;
      gap: 24px;
    }
  
    .team1Card .cardContent { padding: 32px; }
  
    .team1List li:nth-child(2n) .cardBanner { order: 1; }
  }
  